{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<div id="round_hint">
    <p class="title"><strong>No. {{ round_number }}</strong></p>
    <br>
</div>

<p id="back_info" class="hint">一年后，您是{{ age }}岁，在{{ city }}生活</p>
<br>

<div id="event_gen_main">
    <p>请您设想一个在一年后的这样一个事件：</p>
    <p id="emo_dscp_main" class="hint">{{ emo_dscp }}</p>
</div>

<div id="event_gen_prac">
    <p>请您设想一个在一年后的随意一个事件</p>
</div>
<br>

<p>这个事件应当：</p>
<ol>
    <li>发生在在下列三个地点之一：</li>
    <ul>
        <li>{{ place1 }}</li>
        <li>{{ place2 }}</li>
        <li>{{ place3 }}</li>
    </ul>
    <li>有下列三人中的一人在场（他们可以是事件的当事人，也可以仅仅是在场，而与事件无关），：</li>
    <ul>
        <li>{{ person1 }}</li>
        <li>{{ person2 }}</li>
        <li>{{ person3 }}</li>
    </ul>
    <li>持续时间不超过12小时</li>
    <li>尽量与本实验过程中设想的其他事件无关</li>
    <li>在场人物和地点的组合与本实验过程中设想的其他事件不重复</li>
</ol>
<br>
<br>
<br>
<p>您预期该事件中在场的人是：</p>
{% formfield player.person %}
<br>
<p>您预期的该事件发生的地点是：</p>
{% formfield player.place %}
<br>

<div id="posi_speci" style="display: none">
    <p>您预期这门十分重要的考试会是</p>
</div>
<div id="anger_speci" style="display: none">
    <p>您预期您与他人的冲突会是</p>
</div>
<div id="sadness_speci" style="display: none">
    <p>您预期这个不可抗因素会是</p>
</div>
<div id="main_speci">
    {% formfield player.event_specification %}
</div>
<br>
<br>
<br>
<p>您用一句话描述该事件的大致内容</p>
{% formfield player.short_dscp %}
<br>

<p id="prac_core_prompt">该事件中，您认为<strong>最关键</strong>的，或<strong>最有可能</strong>令您有强烈感受的时候会是</p>
<p id="main_core_prompt">该事件中，您认为<strong>最关键</strong>，或<strong>最有可能</strong>令您有强烈的上述感受的时候会是</p>
{% formfield player.event_core %}
<br>
<p>您认为该事件的具体发生时间最可能是（尽可能具体到年/月/日）</p>
{% formfield player.exact_time %}
<br>


<div id="prac_example">
    <br>
    <br>
    <p>例如：</p>
    <ul>
        <li>在办公室，与导师</li>
        <li>大致内容：导师在办公室和我讨论毕设的事情，告诉我研究的进展很顺利，必能正常毕业</li>
        <li>最关键部分：导师在椅子坐直，说“你的毕设很顺利，肯定能顺利毕业。”</li>
        <li>具体时间：12月末的某一天</li>
    </ul>
    <br>
</div>


<div class="next_button_after">{% next_button %}</div>

{% block main_script %}
<script>
    setTimeout(show_button, 30000);
    window.onload = hide();

    function show_button() {
        let next_button = document.querySelector('.next_button_after');
        next_button.style.display = 'block';
    }

    function hide() {
        let round_number = js_vars.round_number;
        let round_hint = document.querySelector('#round_hint');
        let prac_prompt = document.querySelector('#event_gen_prac');
        let main_prompt = document.querySelector('#event_gen_main');
        let prac_example = document.querySelector('#prac_example');
        let prac_core_prompt = document.querySelector('#prac_core_prompt');
        let main_core_prompt = document.querySelector('#main_core_prompt');
        let event_speci = document.querySelector('#id_event_specification');

        if (round_number === 1) {
            main_prompt.style.display = 'none';
            main_core_prompt.style.display = 'none';
            round_hint.style.display = 'none';
            main_speci.style.display = 'none';
            event_speci.value = 'none';
        }
        else {
            prac_prompt.style.display = 'none';
            prac_example.style.display = 'none';
            prac_core_prompt.style.display = 'none';
        }

        let emotion_type = js_vars.emotion_type;
        let posi_speci = document.querySelector('#posi_speci');
        let anger_speci = document.querySelector('#anger_speci');
        let sadness_speci = document.querySelector('#sadness_speci');
        if (emotion_type === "positive") {
            posi_speci.style.display = 'block';
        }
        else if (emotion_type === "anger") {
            anger_speci.style.display = 'block';
        }
        else if (emotion_type === "sadness") {
            sadness_speci.style.display = 'block';
        }
    }



</script>

{% endblock %}

{% endblock %}
