{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<p>您设想的事件是：</p>
<p id="the_event" class="hint">{{ event }}</p>
<p>该事件最关键的部分是：</p>
<p id="event_core" class="hint">{{ event_core }}</p>
<br>
<p>接下来将请您尽可能体会那时您可能有的感受，并闭眼想象事件正在进行时的情景。闭眼时长约45s，到时将会有“叮”声提示您睁眼（在“叮”声前不要睁眼）。</p>
<p>同时，您将会在闭眼时听到请您做出某种动作的<strong>语音指令</strong>，请您在听到后<strong>以最快速度</strong>迅速按指令反应，<strong>越快越好</strong>。</p>
<p>为方便做出动作，请您坐正坐直，不要倚靠或倾斜，并将两手掌放在桌面上。</p>
<p>若您准备好了，请点击下方按钮开始计时，并闭上眼睛想象<strong>&quot{{ event_core }}&quot正在进行时的情景</strong>。 </p>

<br>
<button id="imagining_on" type="button">开始想象</button>
<div class="next_button_after">{% next_button %}</div>

<audio
    src="{% static 'sound/begin_sound.mp3' %}"
    id="begin_sound">
</audio>
<audio
    src="{% static action_sound %}"
    id="action">
</audio>
<audio
    src="{% static 'sound/ding.mp3' %}"
    id="end_sound"
    class="before_button">
</audio>

{% block main_script %}
<script>
    let imagining_on = document.querySelector('#imagining_on');
    imagining_on.addEventListener('click', begin_now);

    function begin_now() {
        let imagining_on = document.querySelector('#imagining_on');
        imagining_on.style.display = 'none';

        let begin_sound = document.querySelector('#begin_sound');
        begin_sound.addEventListener('ended', function () {
            setTimeout(instruction_play, 45000);
        });
        begin_sound.play();
        }

    function instruction_play() {
        let instruction = document.querySelector('#action');
        instruction.addEventListener('ended', function () {
            setTimeout(end_now, 2000);
        });
        instruction.play();
    }

    function end_now() {
        let end_sound = document.querySelector('#end_sound');
        end_sound.addEventListener('ended', show_button);
        end_sound.play();
    }

    function show_button() {
        let next_button = document.querySelector('.next_button_after');
        next_button.style.display = 'block';
    }
</script>
{% endblock %}

{% endblock %}