{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}
<p id="back_info" class="hint">一年后，您是{{ age }}岁，在{{ city }}生活</p>
<br>

<p>请您设想一年后您的生活。</p>

    <p>在您熟悉的人中，您预计您一年后将会接触最频繁的五个是：</p>
    <p>（如同学，老师，室友等等。请填写您最常用的对他们的称呼，或他们于您而言的身份。）</p>
    {% formfield player.person1 %}
    {% formfield player.person2 %}
    {% formfield player.person3 %}
    {% formfield player.person4 %}
    {% formfield player.person5 %}
    <br>
    <br>
    <p>在您熟悉的地点中，您预计您一年后将会最频繁地去到的五个是:</p>
    <p>（尽量具体明确，如“北师大教八楼”）</p>
    {% formfield player.place1 %}
    {% formfield player.place2 %}
    {% formfield player.place3 %}
    {% formfield player.place4 %}
    {% formfield player.place5 %}



{% next_button %}

{% endblock %}
